.error {
    color: #fff;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.25rem;
    position: relative;
    background: #da1064;
    border-radius: 2px;

    p {
        margin: 0;

        +p {
            margin-top: 0.25rem;
        }
    }
}