@import "./slider.scss";

canvas {}

.panel {
    h1 {
        color: #777;
        font-size: 1.5rem;
        font-family: monospace;
        font-weight: normal;
        margin: 0;
        margin-bottom: 1.5rem;
    }

    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}