@import "./theme";

.panel {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    width: 15rem;

    h1 {
        color: $col-foreground-grey;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        margin: 0;
        margin-bottom: 1rem;
    }

    &::after {
        animation: spinner 0.5s linear infinite;
        position: absolute;
        height: 1rem;
        width: 1rem;
        top: 0;
        right: 0;
        content: '';
        border: 2px solid $col-foreground-alt;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-radius: 1rem;
        opacity: 0;
        transition: opacity 0.15s linear;
    }

    &.loading {
        @keyframes spinner {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        &::after {
            opacity: 1;
        }
    }
}