.slider {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;

    .loading & {
        pointer-events: none;
        cursor: default;

        input[type=range] {
            &::-webkit-slider-thumb {
                background: #999;
            }
        }
    }

    label {
        color: #da1064;
        text-shadow: #000 1px 1px solid;
    }

    span {
        position: absolute;
        top: 0;
        right: 0;
        color: #777;
    }

    input[type=range] {
        cursor: pointer;
        background: none;
        height: 30px;
        cursor: pointer;
        -webkit-appearance: none;
        margin: 0;
        width: 100%;

        &:focus {
            outline: none;
        }

        &:hover {
            &::-webkit-slider-runnable-track {
                background: #fff;
            }
        }

        &::-webkit-slider-runnable-track {
            width: 300px;
            height: 5px;
            background: #ccc;
            border: none;
            border-radius: 3px;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 5px;
            width: 16px;
            border-radius: 3px;
            background: #10dad1;
        }
    }
}